* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Styles for header Section */

.header {
    background-image: url(../images/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 808px;
}

.hero {
    /* margin-right: 230px; */
    padding: 216px 230px;
    text-align: right;
}
.hero-text {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-bottom: 24px;
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 21px 25px;
}

/* Failure Section */

.failure {
    display: flex;
    gap: 90px;
    margin: 90px 230px;
}

.failure-image {
    /* background-image: url(../images/person.png); */
    background-repeat: no-repeat;
}

.failure-text {
    padding: 120px 80px;
}

.failure-head {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.list-items {
    display: flex;
    gap: 25px;
    align-items: center;
}


.tick-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* Plans Section Styles */

.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.plan-list {
    display: flex;
    gap: 130px;
    margin: 130px 230px;
    text-align: center;
}

.plan-list h1 {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin-top: 20px;
    padding: 5px;
}

/* Call Section */

.call {
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(/images/watch.png);
    background-repeat: no-repeat;
    width: 80%;
    height: 300px;
    background-size: cover;
    margin: 130px 230px;
    border-radius: 8px
}

.call h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-left: 64px;
    padding-top: 60px;
}

.call button {
    width: 160px;
    height: 64px;
    margin-left: 64px;
    margin-top: 24px;
    padding: 21px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    border-radius: 5px;
    border: none;
}

/* Travel Section */
.cities-to-travel h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.cities {
    display: flex;
    gap: 30px;
    margin: 30px 200px;
}

.city {
    width: 250px;
    height: 300px;
    background-size: cover;
    color: white;
    text-align: center;
    margin: 25px;
    padding: 30px;
}

#ny {
    background-image: url(/images/statue-of-liberty.png);
    background-color: rgba(241, 91, 34, 0.625); 
}
#jp {
    background-image: url(/images/fuji.png);
    background-color: rgba(241, 91, 34, 0.625);
}

#bali {
    background-image: url(/images/indonesia.png);
    background-color: rgba(241, 91, 34, 0.625);
}

#sg {
    background-image: url(/images/sg.png);
    background-color: rgba(241, 91, 34, 0.625);
}

.city-text {
    font-weight: 700;
    font-size: 30px;
    margin: 100% 20px;
}

/* Footer Section */

.footer-contents {
    display: flex;
    background-color: #151414;
    padding: 130px 230px;
    gap: 330px;
}

.footer-text h3 {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
}


.footer-text p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#email {
    margin: 24px 0px;
}

#phone {
    margin-bottom: 32px;
}


.subscribe-form h4 {
    color: #F8F8F8;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 31px;
}

.subscribe-form input {
    border-color: white;
    border-radius: 8px;
    width: 325px;
    height: 30px;
    background: #151414;
    padding: 5px 30px 5px 10px;
}

.subscribe-form input::placeholder {
    color: white;
}

.subscribe-form button {
    display: block;
    margin-top: 16px;
    width: 170px;
    height: 64px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
}